<template>
  <a
    class="btn btn-download"
    :title="$t(buttonTitle)"
    :data-key=JSON.stringify(storedObject.keyInfos)
    :data-iv=JSON.stringify(storedObject.iv)
    :data-mime-type=storedObject.type
    :data-label-preparing="$t('dataLabelPreparing')"
    :data-label-ready="$t('dataLabelReady')"
    :data-temp-url-get-generator="url"
    @click.once="downloadDocument">
  </a>
</template>

<script>
import { download } from '../../module/async_upload/downloader';

const i18n = {
  messages: {
    fr: {
      dataLabelPreparing: "Chargement...",
      dataLabelReady: "",
    }
  }
};

export default {
  name: "AddAsyncUploadDownloader",
  i18n,
  props: [
   'buttonTitle',
   'storedObject'
  ],
  computed: {
    url() {
      return `/asyncupload/temp_url/generate/GET?object_name=${this.storedObject.filename}`;
    }
  },
  methods: {
    downloadDocument(e) {
      download(e.target);
    }
  }
}
</script>
