<template>
   <a :class="btnClasses" :title="$t(buttonTitle)" @click="openModal">
      <span>{{ $t(buttonTitle) }}</span>
   </a>
   <teleport to="body">
      <div>
         <modal v-if="modal.showModal"
            :modalDialogClass="modal.modalDialogClass"
            @close="modal.showModal = false">

            <template v-slot:header>
               {{ $t('upload_a_document') }}
            </template>

            <template v-slot:body>
                <div id="dropZoneWrapper" ref="dropZoneWrapper">
                    <div
                        data-stored-object="data-stored-object"
                        :data-label-preparing="$t('data_label_preparing')"
                        :data-label-quiet-button="$t('data_label_quiet_button')"
                        :data-label-ready="$t('data_label_ready')"
                        :data-dict-file-too-big="$t('data_dict_file_too_big')"
                        :data-dict-default-message="$t('data_dict_default_message')"
                        :data-dict-remove-file="$t('data_dict_remove_file')"
                        :data-dict-max-files-exceeded="$t('data_dict_max_files_exceeded')"
                        :data-dict-cancel-upload="$t('data_dict_cancel_upload')"
                        :data-dict-cancel-upload-confirm="$t('data_dict_cancel_upload_confirm')"
                        :data-dict-upload-canceled="$t('data_dict_upload_canceled')"
                        :data-dict-remove="$t('data_dict_remove')"
                        :data-allow-remove="!options.required"
                        data-temp-url-generator="/asyncupload/temp_url/generate/GET">
                        <input
                           type="hidden"
                           data-async-file-upload="data-async-file-upload"
                           data-generate-temp-url-post="/asyncupload/temp_url/generate/post?expires_delay=180&amp;submit_delay=3600"
                           data-temp-url-get="/asyncupload/temp_url/generate/GET"
                           :data-max-files="options.maxFiles"
                           :data-max-post-size="options.maxPostSize"
                           :v-model="dataAsyncFileUpload"
                        >
                        <input
                           type="hidden"
                           data-stored-object-key="1"
                        >
                        <input
                           type="hidden"
                           data-stored-object-iv="1"
                        >
                        <input
                           type="hidden"
                           data-async-file-type="1"
                        >
                    </div>
                </div>
            </template>

            <template v-slot:footer>
               <button class="btn btn-create"
                  @click.prevent="saveDocument">
                  {{ $t('action.add')}}
            </button>
            </template>

         </modal>
      </div>
   </teleport>
</template>

<script>
import Modal from 'ChillMainAssets/vuejs/_components/Modal';
import { searchForZones } from '../../module/async_upload/uploader';
import { makeFetch } from "ChillMainAssets/lib/api/apiMethods";

const i18n = {
   messages: {
      fr: {
         upload_a_document: "Téléversez un document",
         data_label_preparing: "Chargement...",
         data_label_quiet_button: "Téléchargez le fichier existant",
         data_label_ready: "Prêt à montrer",
         data_dict_file_too_big: "Fichier trop volumineux",
         data_dict_default_message: "Glissez votre fichier ou cliquez ici",
         data_dict_remove_file: "Enlevez votre fichier pour en téléversez un autre",
         data_dict_max_files_exceeded: "Nombre maximum de fichiers atteint. Enlevez les fichiers précédents",
         data_dict_cancel_upload: "Annulez le téléversement",
         data_dict_cancel_upload_confirm: "Êtes-vous sûr·e de vouloir annuler ce téléversement?",
         data_dict_upload_canceled: "Téléversement annulé",
         data_dict_remove: "Enlevez le fichier existant",
      }
   }
};

export default {
   name: "AddAsyncUpload",
   components: {
      Modal
   },
   i18n,
    props: {
       buttonTitle: {
           type: String,
           default: 'Ajouter un document',
       },
        options: {
            type: Object,
            default: {
                maxFiles: 1,
                maxPostSize: 262144000, // 250MB
                required: false,
            }
        },
        btnClasses: {
           type: Object,
            default: {
                btn: true,
                'btn-create': true
            }
        }
    },
   emits: ['addDocument'],
   data() {
      return {
         modal: {
            showModal: false,
            modalDialogClass: "modal-dialog-centered modal-md"
         },
      }
   },
   updated() {
     if (this.modal.showModal){
         searchForZones(this.$refs.dropZoneWrapper);
     }
   },
   methods: {
      openModal() {
         this.modal.showModal = true;
      },
      saveDocument() {
         const dropzone = this.$refs.dropZoneWrapper;
         if (dropzone) {
            const inputKey = dropzone.querySelector('input[data-stored-object-key]');
            const inputIv  = dropzone.querySelector('input[data-stored-object-iv]');
            const inputObject = dropzone.querySelector('input[data-async-file-upload]');
            const inputType = dropzone.querySelector('input[data-async-file-type]');

            const url = '/api/1.0/docstore/stored-object.json';
            const body = {
               filename: inputObject.value,
               keyInfos: JSON.parse(inputKey.value),
               iv: JSON.parse(inputIv.value),
               type: inputType.value,
            };
            makeFetch('POST', url, body)
               .then(r => {
                  this.$emit("addDocument", r);
                  this.modal.showModal = false;
               })
               .catch((error) => {
                  if (error.name === 'ValidationException') {
                     for (let v of error.violations) {
                        this.$toast.open({message: v });
                     }
                  } else {
                     console.error(error);
                     this.$toast.open({message: 'An error occurred'});
                  }
               });
         } else {
            this.$toast.open({message: 'An error occurred - drop zone not found'});
         }
      }
   }
}
</script>
