<template>
   <span class="inline-choice">
      <div class="form-check">

         <input class="form-check-input"
            type="checkbox"
            v-model="selected"
            name="action"
            v-bind:id="action.id"
            v-bind:value="action"
            />
         <label class="form-check-label" v-bind:for="action.id">
            <span class="badge bg-light text-dark">{{ action.text }}</span>
         </label>

      </div>
   </span>
</template>

<script>
export default {
   name: "CheckSocialAction",
   props: [ 'action', 'selection' ],
   emits: [ 'updateSelected' ],
   computed: {
      selected: {
         set(value) {
            this.$emit('updateSelected', value);
         },
         get() {
            return this.selection;
         }
      }
   }
}
</script>

<style lang="scss" scoped>
@import 'ChillMainAssets/module/bootstrap/shared';
@import 'ChillPersonAssets/chill/scss/mixins';
@import 'ChillMainAssets/chill/scss/chill_variables';
span.badge {
    @include badge_social($social-action-color);
    font-size: 95%;
    margin-bottom: 5px;
    margin-right: 1em;
}
</style>
