{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set activeRouteKey = 'chill_person_timeline' %}

{#
This view should receive those arguments:
- person
#}

{% block title %}{{ 'Timeline for %name%'|trans({'%name%': person }) }}{% endblock %}


{% block content %}
<div class="timeline">
            
            {{ timeline|raw }}
            
            {% if nb_items > paginator.getItemsPerPage %}
            {{ chill_pagination(paginator) }}
            {% endif %}
    
</div>    
{% endblock %}
