{% extends '@ChillMain/CRUD/_view_content.html.twig' %}

{% block content_view_actions_back %}
    <li class="cancel">
        <a class="btn btn-cancel" href="{{ chill_return_path_or('chill_crud_'~crud_name~'_index', { 'person_id': person.id }) }}">
            {{ 'Cancel'|trans }}
        </a>
    </li>
{% endblock %} 


{% block content_form_actions_delete %}
    {% if chill_crud_action_exists(crud_name, 'delete') %}
    {% if is_granted(chill_crud_config('role', crud_name, 'delete'), entity) %}
    <li class="">
        <a class="btn btn-delete" href="{{ chill_path_add_return_path('chill_crud_'~crud_name~'_delete', { 'id': entity.id, 'person_id': person.id }) }}">
            {{ 'crud.delete.link_to_form'|trans }}
        </a>
    </li>
    {% endif %}
    {% endif %}
{% endblock content_form_actions_delete %}

{% block content_view_actions_duplicate_link %}
    {% if chill_crud_action_exists(crud_name, 'new') %}
    {% if is_granted(chill_crud_config('role', crud_name, 'new'), entity) %}
        <li>
            <a class="btn btn-duplicate" href="{{ chill_path_add_return_path('chill_crud_'~crud_name~'_new', { 'duplicate_id': entity.id, 'duplicate': true, 'person_id': person.id }) }}">
                {{ 'crud.view.link_duplicate'|trans }}
            </a>
        </li>
    {% endif %}
    {% endif %}
{% endblock content_view_actions_duplicate_link %}

{% block content_view_actions_edit_link %}
    {% if chill_crud_action_exists(crud_name, 'edit') %}
    {% if is_granted(chill_crud_config('role', crud_name, 'edit'), entity) %}
        <li>
            <a class="btn btn-edit" href="{{ chill_path_forward_return_path('chill_crud_'~crud_name~'_edit', { 'id': entity.id, 'person_id': person.id }) }}">
                {{ 'crud.new.link_edit'|trans }}
            </a>
        </li>
    {% endif %}
    {% endif %}
{% endblock content_view_actions_edit_link %}
