{% extends '@ChillPerson/Person/layout.html.twig' %}

{% set person = entity.person %}
{% set activeRouteKey = '' %}

{% block content %}
{% embed '@ChillMain/CRUD/_delete_content.html.twig' %}
{% endembed %}
{% endblock %}