@import 'ChillMainAssets/chill/fonts/OpenSans/OpenSans';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: white;
    text-align: center;
    font-family: 'Open Sans';
}

#content {
    position: relative;
    height: 90%;
    padding-top: 10%;
    footer.footer {
      position: absolute;
      bottom: 0;
   }
}

#content:before {
   bottom: 0;
   content: "";
   left: 0;
   opacity: 0.2;
   position: absolute;
   right: 0;
   top: 0;
   z-index: -1;
   background-image: url('./desert.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

label {
    width : 15em;
    text-align: right;
    display: inline-block;
    font-weight: 300;
    padding-right: 5px;
}
input {
    color: 'black';
}
form {

}
button {
    margin-left: 15em;
    margin-top: 1em;
    background-color: #df4949;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    padding: 4px 8px;
    font-family: 'Open Sans';
    font-weight: 300;
}

p.forgot-password-link {
    text-align: center;

    a {
        font-weight: 300;
        color: #fff;
        text-decoration: none;
    }
}
