
	{% block crud_content_header %}
		<h1>{{ ('crud.'~crud_name~'.title_delete')|trans({ '%as_string%': 'Aside Activity' }) }}</h1>
	{% endblock crud_content_header %}

	<p class="message-confirm">{{ ('crud.'~crud_name~'.confirm_message_delete')|trans({ '%as_string%': 'Aside Activity' }) }}</p>

	{{ form_start(form) }}

	<ul class="record_actions">
		{% block content_form_actions_back %}
			<li class="cancel">
				<a class="btn btn-cancel" href="{{ chill_return_path_or('chill_crud_'~crud_name~'_index') }}">
					{{ 'Cancel'|trans }}
				</a>
			</li>
		{% endblock %}
		{% block content_form_actions_before %}

        {% endblock %}
		{% block content_form_actions_confirm_delete %}
			<li>
				<button type="submit" class="btn btn-delete" value="delete-and-close">{{ ('crud.'~crud_name~'.button_delete')|trans }}</button>
			</li>
		{% endblock content_form_actions_confirm_delete %}
		{% block content_form_actions_after %}{% endblock %}
	</ul>

	{{ form_end(form) }}

