{% extends '@ChillMain/layout.html.twig' %}

{# {% block title %}{{ ('crud.' ~ crud_name ~ '.delete.title')|trans({'%crud_name%': crud_name}) }}{% endblock %} #}

{% block content %}
    {% embed '@ChillAsideActivity/asideActivity/_delete.html.twig' %}
    {% endembed %}
{% endblock content %}
