{% macro recordAction(work) %}
    <li>
        <a class="btn btn-show" title="{{ 'Show'|trans }}"
           href="{{ chill_path_add_return_path('chill_person_accompanying_period_work_show', {'id': work.id }) }}"
        ></a>
    </li>
{% endmacro %}
{% if work is not null %}
    <div class="flex-table accompanying-course-work">
        {% if is_granted('CHILL_MAIN_ACCOMPANYING_PERIOD_WORK_SEE', work) %}
            {% include "@ChillPerson/AccompanyingCourseWork/_item.html.twig" with {
                'itemBlocClass': 'bg-chill-llight-gray',
                'displayAction': true,
                'displayContent': 'short',
                'displayFontSmall': true,
                'displayNotification:':true,
                'w': work
            } %}
        {% else %}
            <div class="alert alert-warning border-warning border-1">
                {{ 'This is the minimal period details'|trans ~ ': ' ~ work.id }}<br>
                {{ 'You are getting a notification for a period you are not allowed to see'|trans }}
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="alert alert-warning border-warning border-1">
        {{ 'You are getting a notification for a period which does not exists any more'|trans }}
    </div>
{% endif %}
