// Access to Bootstrap variables and mixins
@import '~ChillMainAssets/module/bootstrap/shared';

.task-status {

    //  'new', 'in_progress', 'closed', 'canceled'
    &.place-new {
        background-color: $chill-yellow;
    }

    &.place-in_progress {
        background-color: $chill-green;
    }

    &.place-closed {
        background-color: $chill-blue;
    }

    &.place-canceled {
        background-color: $chill-beige;
    }
}
