/*
     !!!!!!!
    This is a legacy version for task list. The new task are now
    layed out in page/tile_list/index.js
    !!!!!!
*/

table.chill-task-list {

    .chill-task-list__row > div {
        margin-bottom: 0.50rem;
    }

    .chill-task-list__row__title {
        font-weight: bold;
        font-size: 1.40rem;
    }

    .chill-task-list__row__type {
        font-variant: small-caps;
        display: inline;
        padding: 0.05rem .15rem;
        font-size: 0.88rem;
        font-weight: light;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border: 1px solid var(--chill-dark-gray);
        color: var(--chill-dark-gray);
    }

    .chill-task-list__row__person-for {
        display: inline;
        font-weight: bold;
    }

    .chill-task-list__row__assignee {
        display: inline;

    }

    .chill_task-list__row__assignee_by {
        display: inline;
        font-weight: bold;
    }

    .chill-task-list__row__dates {
        & > ul {
            display: inline;
            list-style: none;

            & > li {
                display: inline;
                margin-right: 0.25rem;

            }
        }
    }
}

