<footer class="footer">
    <p>
        {{ 'This program is free software: you can redistribute it and/or modify it under the terms of the <strong>GNU Affero General Public License</strong>'|trans|raw }}
        <br/>
        <a name="bottom" class="btn text-white" href="https://gitea.champs-libres.be/Chill-project/manuals/releases" target="_blank">
            {{ 'User manual'|trans }}
        </a>
    </p>
</footer>
