{% extends '@ChillMain/CRUD/Admin/index.html.twig' %}

{% block admin_content %}
    {% embed '@ChillMain/CRUD/_index.html.twig' %}
        {% block table_entities_thead_tr %}
            <th>{{ 'Id'|trans }}</th>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'evaluation.delay'|trans }}</th>
            <th>{{ 'evaluation.notificationDelay'|trans }}</th>
            <th>&nbsp;</th>
        {% endblock %}

        {% block table_entities_tbody %}
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.title|localize_translatable_string }}</td>
                    <td>
                    {% if entity.delay is not null %}
                        {% if entity.delay.d > 0 %}
                            {{ entity.delay.d  }} {{'days'|trans}}
                        {% endif %}
                        {% if entity.delay.m > 0 %}
                            {{ entity.delay.m  }} {{'months'|trans}}
                        {% endif %}
                        {% if entity.delay.y > 0 %}
                            {{ entity.delay.y  }} {{'years'|trans}}
                        {% endif %}
                    {% endif %}
                    </td>
                    <td>
                    {% if entity.notificationDelay is not null %}
                        {% if entity.notificationDelay.d > 0 %}
                            {{ entity.notificationDelay.d  }} {{'days'|trans}}
                        {% endif %}
                        {% if entity.notificationDelay.m > 0 %}
                            {{ entity.notificationDelay.m  }} {{'months'|trans}}
                        {% endif %}
                        {% if entity.notificationDelay.y > 0 %}
                            {{ entity.notificationDelay.y  }} {{'years'|trans}}
                        {% endif %}
                    {% endif %}
                    </td>
                    <td>
                        <ul class="record_actions">
                            <li>
                                <a href="{{ chill_path_add_return_path('chill_crud_social_evaluation_edit', { 'id': entity.id }) }}" class="btn btn-edit"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block actions_before %}
            <li class='cancel'>
                <a href="{{ path('chill_main_admin_central') }}" class="btn btn-cancel">{{'Back to the admin'|trans}}</a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}
