{% extends "@ChillPerson/AccompanyingCourse/layout.html.twig"  %}

{% set activeRouteKey = '' %}

{% block title %}
	{# {{ 'New document for %name%'|trans({ '%name%': accompanyingCourse|chill_entity_render_string } ) }} #}
{% endblock %}


{% block content %}

	{# <h1>{{ 'New document for %name%'|trans({ '%name%': accompanyingCourse|chill_entity_render_string } ) }}</h1> #}


	{{ form_errors(form) }}

	{{ form_start(form) }}

	{{ form_row(form.title) }}
	{{ form_row(form.date) }}
	{{ form_row(form.category) }}
	{# {{ form_row(form.scope) }} #}
	{{ form_row(form.description) }}
	{{ form_row(form.object, { 'label': 'Document', 'existing': document.object }) }}

	<ul class="record_actions sticky-form-buttons">
		<li class="cancel">
			<a href="{{ chill_return_path_or('chill_docstore_generic-doc_by-period_index', {'id': accompanyingCourse.id}) }}" class="btn btn-cancel">
				{{ 'Back to the list' | trans }}
			</a>
		</li>
		<li class="create">
			<button class="btn btn-save">{{ 'Save'|trans }}</button>
		</li>
	</ul>
	{{ form_end(form) }}
{% endblock %}

{% block js %}
	{{ parent() }}
	{{ encore_entry_script_tags('mod_async_upload') }}
{% endblock %}

{% block css %}
    {{ parent() }}
	{{ encore_entry_link_tags('mod_async_upload') }}
{% endblock %}
