{% extends "@ChillMain/layout.html.twig" %}

{% set activeRouteKey = 'chill_calendar_calendar_list' %}

{% block title %}{{ 'My calendar list' |trans }}{% endblock title %}

{% block content %}

<h1>{{ 'My calendar list' |trans }}</h1>
<div id="myCalendar"></div>

{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        window.userId = {{ user.id }};
    </script>
    {{ encore_entry_script_tags('vue_mycalendarrange') }}
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue_mycalendarrange') }}
{% endblock %}
