{% if title is defined %}
    <h2>{{ title }}</h2>
{% endif %}

{% if confirm_question is defined %}
    <p class="message-confirm">{{ confirm_question }}</p>
{% endif %}

{% if display_content is defined and display_content is not empty %}
    {{ display_content|raw }}
{% endif %}

{{ form_start(form) }}

<ul class="record_actions sticky-form-buttons">
    {% if cancel_route is defined %}
        <li class="cancel">
            <a href="{{ chill_path_forward_return_path(cancel_route, cancel_parameters|default( { } ) ) }}" class="btn btn-cancel">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    {% endif %}
    <li>
        {{ form_widget(form.submit, { 'attr' : { 'class' : "btn btn-delete" } } ) }}
    </li>
</ul>

{{ form_end(form) }}
