{% extends "@ChillPerson/AccompanyingCourse/layout.html.twig"  %}

{% set activeRouteKey = 'chill_task_task_list' %}
{% set course = task.course %}

{% block title 'Remove task'|trans %}

{% block content %}

	{{ include('@ChillMain/Util/confirmation_template.html.twig',
    {
        'title'             : 'Remove task'|trans,
        'confirm_question'  : 'Are you sure you want to remove the task "%title%" ?'|trans({ '%title%' : task.title } ),
        'cancel_route'      : 'chill_task_singletask_by-course_list',
        'cancel_parameters' : {'id' : task.course.id },
        'form'              : delete_form,
    } ) }}

{% endblock %}
