{% extends "@ChillPerson/AccompanyingCourse/layout.html.twig"  %}

{% set activeRouteKey = 'chill_task_single_task_edit' %}
{% set course = task.course %}

{% block title %}
	{{ 'Edit task'|trans }}
{% endblock %}

{% block content %}

	{% include '@ChillTask/SingleTask/_edit.html.twig' %}


{% endblock %}
