{% extends "@ChillPerson/AccompanyingCourse/layout.html.twig" %}

{% set activeRouteKey = 'chill_task_single_task_new' %}
{# {% set person = task.person %} #}

{% block title %}
	{{ 'New task'|trans }}
{% endblock %}

{% block content %}
	{% include '@ChillTask/SingleTask/_new.html.twig' %}

{% endblock %}
