{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set activeRouteKey = 'chill_person_resource_list' %}

{% block title %}{{ 'Person resources'|trans|capitalize ~ ' ' ~ person|chill_entity_render_string }}{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('page_person_resource_showhide_input') }}
    {{ encore_entry_script_tags('mod_pickentity_type') }}
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('page_person_resource_showhide_input') }}
    {{ encore_entry_link_tags('mod_pickentity_type') }}
{% endblock %}

{% block content %}

<h1 style="margin-bottom: 2rem;">{{ 'Add a person resource'|trans }}</h1>

<div class="col-md col-xxl">
        <h3 style="margin-bottom: 2rem;">{{ 'Add a person resource'|trans }}</h3>
        {% include "@ChillPerson/PersonResource/form.html.twig" %}
</div>
{% endblock %}
