{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set activeRouteKey = 'chill_person_resource_edit' %}

{% block js %}
    {{ encore_entry_script_tags('page_person_resource_showhide_input') }}
    {{ encore_entry_script_tags('mod_pickentity_type') }}
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('page_person_resource_showhide_input') }}
    {{ encore_entry_link_tags('mod_pickentity_type') }}
{% endblock %}

{% block title %}{{ 'edit resource'|trans|capitalize }}{% endblock %}

{% block content %}

<h1 style="margin-bottom: 2rem;">{{ 'edit resource'|trans }}</h1>

{% include "@ChillPerson/PersonResource/form.html.twig" %}

{% endblock %}
