<template>
    <a v-if="!state.is_ready" :class="props.classes" @click="download_and_open($event)">
        <i class="fa fa-download"></i>
        Télécharger
    </a>
    <a v-else :class="props.classes" target="_blank" :type="props.storedObject.type" :download="buildDocumentName()" :href="state.href_url" ref="open_button">
        <i class="fa fa-external-link"></i>
        Ouvrir
    </a>
</template>

<script lang="ts" setup>
import {reactive, ref, nextTick, onMounted} from "vue";
import {build_download_info_link, download_and_decrypt_doc} from "./helpers";
import mime from "mime";
import {StoredObject} from "../../types";

interface DownloadButtonConfig {
    storedObject: StoredObject,
    classes: { [k: string]: boolean },
    filename?: string,
}

interface DownloadButtonState {
    is_ready: boolean,
    is_running: boolean,
    href_url: string,
}

const props = defineProps<DownloadButtonConfig>();
const state: DownloadButtonState = reactive({is_ready: false, is_running: false, href_url: "#"});

const open_button = ref<HTMLAnchorElement | null>(null);

function buildDocumentName(): string {
    const document_name = props.filename || 'document';
    const ext = mime.getExtension(props.storedObject.type);

    if (null !== ext) {
        return document_name + '.' + ext;
    }

    return document_name;
}

async function download_and_open(event: Event): Promise<void> {
    const button = event.target as HTMLAnchorElement;

    if (state.is_running) {
        console.log('state is running, aborting');
        return;
    }

    state.is_running = true;

    if (state.is_ready) {
        console.log('state is ready. This should not happens');
        return;
    }

    const urlInfo = build_download_info_link(props.storedObject.filename);
    let raw;

    try {
        raw = await download_and_decrypt_doc(urlInfo, props.storedObject.keyInfos, new Uint8Array(props.storedObject.iv));
    } catch (e) {
        console.error("error while downloading and decrypting document");
        console.error(e);
        throw e;
    }

    console.log('document downloading (and decrypting) successfully');

    console.log('creating the url')
    state.href_url = window.URL.createObjectURL(raw);
    console.log('url created', state.href_url);
    state.is_running = false;
    state.is_ready = true;
    console.log('new button marked as ready');
    console.log('will click on button');

    console.log('openbutton is now', open_button.value);

    await nextTick();
    console.log('next tick actions');
    console.log('openbutton after next tick', open_button.value);
    open_button.value?.click();
    console.log('open button should have been clicked');
}
</script>

<style scoped lang="sass">
i.fa::before {
   color: var(--bs-dropdown-link-hover-color);
}
</style>
