<h2>{{ 'Join a comment'|trans }}</h2>

{{ form_start(comment_form) }}

{{ form_widget(comment_form.comment) }}

<ul class="record_actions">
    <li>
        <button type="submit" class="btn btn-save">{{ 'Save'|trans }}</button>
    </li>
</ul>

{{ form_end(comment_form) }}
