<h2>{{ 'Decision'|trans }}</h2>

{% if transition_form is not null %}
    {{ form_start(transition_form) }}

    {{ form_errors(transition_form) }}

    {% set step = entity_workflow.currentStepChained %}
    {% set labels = workflow_metadata(entity_workflow, 'label', step.currentStep) %}
    {% set label = labels is null ? step.currentStep : labels|localize_translatable_string %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    {{ 'workflow.Current step'|trans }}&nbsp;:
                    <span class="badge bg-primary">{{ label }}</span>
                </div>
            </div>

            {% if step.previous is not null %}
                {% if step.previous.comment is not empty %}
                    <div class="row">
                        <div class="col-sm-12">
                            <blockquote class="chill-user-quote">
                                {{ step.previous.comment|chill_markdown_to_html }}
                            </blockquote>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        {{ 'By'|trans }}
                        {{ step.previous.transitionBy|chill_entity_render_box }},
                        {{ step.previous.transitionAt|format_datetime('short', 'short') }}
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-4">{{ 'workflow.Created by'|trans }}</div>
                    <div class="col-sm-8">{{ step.entityWorkflow.createdBy|chill_entity_render_box }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">{{ 'Le'|trans }}</div>
                    <div class="col-sm-8">{{ step.entityWorkflow.createdAt|format_datetime('short', 'short') }}</div>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="transitionFilter">
        {% if transition_form.transitionFilter is defined %}
            {{ form_row(transition_form.transitionFilter) }}
        {% endif %}
    </div>

    <div id="transitions">
        {{ form_row(transition_form.transition) }}
    </div>

    {% if transition_form.freezeAfter is defined %}
        {{ form_row(transition_form.freezeAfter) }}
    {% endif %}

    <div id="futureDests">
        {{ form_row(transition_form.future_dest_users) }}

        {{ form_row(transition_form.future_cc_users) }}

        {{ form_row(transition_form.future_dest_emails) }}
        {{ form_errors(transition_form.future_dest_users) }}
    </div>

    <p>{{ form_label(transition_form.comment) }}</p>

    {{ form_widget(transition_form.comment) }}

    <ul class="record_actions">
        <li>
            <button type="submit" class="btn btn-save">{{ 'Save'|trans }}</button>
        </li>
    </ul>

    {{ form_end(transition_form) }}
{% else %}
    <div class="alert alert-chill-yellow">

        {% if entity_workflow.currentStep.isFinal %}
            <p>{{ 'workflow.This workflow is finalized'|trans }}</p>
        {% else %}
            <p>{{ 'workflow.You are not allowed to apply a transition on this workflow'|trans }}</p>
            {% if entity_workflow.currentStep.destUser|length > 0 %}
                <p><b>{{ 'workflow.Only those users are allowed'|trans }}&nbsp;:</b></p>
                <ul>
                    {% for u in entity_workflow.currentStep.destUser -%}
                        <li>{{ u|chill_entity_render_box }}</li>
                    {%- endfor %}
                </ul>
            {% endif %}

            {% if entity_workflow.currentStep.destEmail|length > 0 %}
                <p><b>{{ 'workflow.An access key was also sent to those addresses'|trans }}&nbsp;:</b></p>
                <ul>
                    {% for e in entity_workflow.currentStep.destEmail -%}
                        <li><a href="mailto:{{ e|escape('html_attr') }}">{{ e }}</a></li>
                    {%- endfor %}
                </ul>
            {% endif %}

            {% if entity_workflow.currentStep.destUserByAccessKey|length > 0 %}
                <p><b>{{ 'workflow.Those users are also granted to apply a transition by using an access key'|trans }}&nbsp;:</b></p>
                <ul>
                    {% for u in entity_workflow.currentStep.destUserByAccessKey %}
                        <li>{{ u|chill_entity_render_box }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if is_granted('CHILL_MAIN_WORKFLOW_LINK_SHOW', entity_workflow) %}
                <p><b>{{ 'workflow.This link grant any user to apply a transition'|trans }}&nbsp;:</b></p>

                {% set link = absolute_url(path('chill_main_workflow_grant_access_by_key', {'id': entity_workflow.currentStep.id, 'accessKey': entity_workflow.currentStep.accessKey})) %}
                <div class="input-group mb-3">
                    <input type="text" readonly value="{{ link|e('html_attr') }}" class="form-control">
                    <button class="btn btn-secondary" type="button" id="button-copy" onclick="navigator.clipboard.writeText('{{ link|e('html_attr') }}').then(() => { window.alert({{ ('"' ~ 'workflow.Access link copied'|trans ~ ' !"') |e('html_attr') }})});"><i class="fa fa-files-o"></i></button>
                    <a class="btn btn-secondary" type="button" id="button-email"
                       href="mailto:?body={{  ((('workflow.The workflow may be accssed through this link'|trans)~':')|e('url')) ~ '%0D%0A%0D%0A' ~ link|e('url') }}"><i class="fa fa-envelope"></i></a>

                </div>
            {% endif %}


        {% endif %}
    </div>

{% endif %}
