<h2>{{ 'Workflow history'|trans }}</h2>

<div class="flex-table">
    {% for step in entity_workflow.stepsChained %}
        {% set place_labels = workflow_metadata(entity_workflow, 'label', step.currentStep) %}
        {% set place_label = place_labels is null ? step.currentStep : place_labels|localize_translatable_string %}

        <div class="item-bloc {{ 'bloc' ~ step.id }} {% if loop.first %}initial{% endif %}">
            <div class="item-row">

                {% if loop.first and step.next is null %}
                    <div class="item-col">
                        {{ 'workflow.No transitions'|trans }}
                    </div>
                {% else %}

                    <div class="item-col">
                        {% if step.previous is not null and step.previous.freezeAfter == true %}
                            <i class="fa fa-snowflake-o fa-sm me-1" title="{{ 'workflow.Freezed'|trans }}"></i>
                        {% endif %}
                    </div>
                    <div class="item-col flex-column align-items-end">
                        <div class="decided">
                            {{ place_label }}
                        </div>
                        {#
                        <div class="decided">
                        <i class="fa fa-times fa-fw text-danger"></i>
                        Refusé
                        </div>
                        #}
                    </div>
                {% endif %}

            </div>
            {% if step.next is not null %}
                {% set transition = chill_workflow_transition_by_string(step.entityWorkflow, step.transitionAfter) %}
                {% set transition_labels = workflow_metadata(step.entityWorkflow, 'label', transition) %}
                {% set transition_label = transition_labels is null ? step.transitionAfter : transition_labels|localize_translatable_string %}
                {% set forward = workflow_metadata(step.entityWorkflow, 'isForward', transition) %}
                <div class="item-row separator">
                    <div class="item-col" style="width: inherit;">
                        {% if step.transitionBy is not null %}
                            <div>
                                {{ step.transitionBy|chill_entity_render_box }}
                            </div>
                        {% endif %}
                        <div>
                            <span>{{ step.transitionAt|format_datetime('long', 'medium') }}</span>
                        </div>
                    </div>
                    <div class="item-col flex-column align-items-end">
                        <div class="to-decision">
                            <i class="fa fa-share fa-fw text-secondary" title="transféré"></i>
                            {% if forward %}
                                <i class="fa fa-check fa-fw text-success"></i>
                            {% else %}
                                <i class="fa fa-times fa-fw text-danger"></i>
                            {% endif %}
                            {{ transition_label }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if step.comment is not empty %}
                <div class="item-row separator">
                    <blockquote class="chill-user-quote col">
                        {{ step.comment|chill_markdown_to_html }}
                    </blockquote>
                </div>
            {% endif %}
            {% if loop.last and step.allDestUser|length > 0 %}
                <div class="item-row separator">
                    <div>
                        {% if step.destUser|length > 0 %}
                            <p><b>{{ 'workflow.Users allowed to apply transition'|trans }}&nbsp;: </b></p>
                            <ul>
                                {% for u in step.destUser %}
                                    <li>{{ u|chill_entity_render_box }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if step.ccUser|length > 0 %}
                            <p><b>{{ 'workflow.Users put in Cc'|trans }}&nbsp;: </b></p>
                            <ul>
                                {% for u in step.ccUser %}
                                    <li>{{ u|chill_entity_render_box }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if entity_workflow.currentStep.destEmail|length > 0 %}
                            <p><b>{{ 'workflow.An access key was also sent to those addresses'|trans }}&nbsp;:</b></p>
                            <ul>
                                {% for e in entity_workflow.currentStep.destEmail -%}
                                    <li><a href="mailto:{{ e|escape('html_attr') }}">{{ e }}</a></li>
                                {%- endfor %}
                            </ul>
                        {% endif %}

                        {% if step.destUserByAccessKey|length > 0 %}
                            <p><b>{{ 'workflow.Those users are also granted to apply a transition by using an access key'|trans }}&nbsp;:</b></p>
                            <ul>
                                {% for u in step.destUserByAccessKey %}
                                    <li>{{ u|chill_entity_render_box }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

    {% endfor %}

</div>
