{% extends '@ChillMain/layout.html.twig' %}

{% block title 'workflow.Delete workflow ?'|trans %}

{% block display_content %}
<div class="col-10 workflow">
    <h2>
        {{  handler.entityTitle(entityWorkflow) }}
    </h2>

    {% include handler.template(entityWorkflow) with handler.templateData(entityWorkflow)|merge({
        'display_action': false
    }) %}

{% endblock %}

{% block content %}

    <div class="container chill-md-10">
        {{ include('@ChillMain/Util/confirmation_template.html.twig',
            {
                'title'             : 'workflow.Delete workflow ?'|trans,
                'confirm_question'  : 'workflow.Are you sure you want to delete this workflow ?'|trans,
                'display_content'   : block('display_content'),
                'cancel_route'      : 'chill_main_workflow_show',
                'cancel_parameters' : {'id' : entityWorkflow.id},
                'form'              : delete_form
            } ) }}
    </div>
</div>
{% endblock %}
