Madame, Monsieur,

Un suivi "{{ workflow.text }}" a atteint une nouvelle étape: {{ workflow.text }}.

Titre du workflow: "{{ entityTitle }}".

Vous êtes invité·e à valider cette étape. Pour obtenir un accès, vous pouvez cliquer sur le lien suivant:

{{ absolute_url(path('chill_main_workflow_grant_access_by_key', {'id': entity_workflow.currentStep.id, 'accessKey': entity_workflow.currentStep.accessKey})) }}

Dès que vous aurez cliqué une fois sur le lien, vous serez autorisé à valider cette étape.

Notez que vous devez disposer d'un compte utilisateur valide dans Chill.

Cordialement,
