{% extends '@ChillMain/CRUD/Admin/index.html.twig' %}

{% block admin_content %}
	{% embed '@ChillMain/CRUD/_index.html.twig' %}
        {% block table_entities_thead_tr %}
			<th>{{ 'Name'|trans }}</th>
			<th>{{ 'Phonenumber1'|trans }}</th>
			<th>{{ 'Phonenumber2'|trans }}</th>
			<th>{{ 'Email'|trans }}</th>
			<th>{{ 'Address'|trans }}</th>
			<th>{{ 'Active'|trans }}</th>
        {% endblock %}
        {% block table_entities_tbody %}
			{% for entity in entities %}
			    <tr>
                    <td>{{ entity.name }}</td>
					<td>
                        {{ entity.phonenumber1|chill_format_phonenumber }}
                    </td>
					<td>{{ entity.phonenumber2|chill_format_phonenumber }}</td>
					<td>{{ entity.email }}</td>
					<td>
					{% if entity.address is not null %}
					    {{ entity.address| chill_entity_render_box }}
					{% endif %}
					</td>
					<td style="text-align:center;">
						{%- if entity.active -%}
							<i class="fa fa-check-square-o"></i>
						{%- else -%}
							<i class="fa fa-square-o"></i>
						{%- endif -%}
					</td>
					<td>
						<ul class="record_actions">
							<li>
								<a href="{{ path('chill_crud_main_location_edit', { 'id': entity.id }) }}" class="btn btn-edit" title="{{ 'edit'|trans }}"></a>
							</li>
						</ul>
					</td>
				</tr>
			{% endfor %}
        {% endblock %}

        {% block actions_before %}
            <li class='cancel'>
                <a href="{{ path('chill_main_admin_central') }}" class="btn btn-cancel">{{'Back to the admin'|trans}}</a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}
