{% extends "@ChillEvent/Admin/index.html.twig" %}

{% block admin_content -%}

    <h1>{{ 'Status creation'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.active) }}

    <ul class="record_actions">
        <li class="cancel">
            <a href="{{ path('chill_event_admin_status') }}" class="btn btn-cancel">{{ 'Back to the list'|trans }}</a>
        </li>
        <li>
            {{ form_row(form.submit, { 'attr': { 'class' : 'btn btn-new' }}) }}
        </li>
    </ul>

    {{ form_end(form) }}
{% endblock %}
