{#
    Overwrite this file to display client specific datas in custom area
#}
<div id="banner-person-custom" class="my-3 pe-md-5 pe-xxl-0 justify-content-end">
    <div class="text-md-end mb-1">
        {%- if chill_person.fields.nationality == 'visible' -%}
            <span class="open_sansbold">
                {{ 'Nationality'|trans|upper}} :
            </span>
            {% if person.nationality is not null %}
                {{ person.nationality.name|localize_translatable_string }}
            {% else %}
                <span class="chill-no-data-statement">
                    {% trans %}Without nationality{% endtrans %}
                </span>
            {% endif %}
        {%- endif -%}
    </div>
    <div class="text-md-end">
        {% if person|chill_resolve_center|length > 0 %}
            <span class="open_sansbold">
                {{ 'Center'|trans|upper}} :
            </span>

            {% for c in person|chill_resolve_center %}
                {{  c.name|upper }}{% if not loop.last %}, {% endif %}
            {% endfor %}

        {%- endif -%}
    </div>
</div>
