{% if work is null %}
    <div class="alert alert-warning">
        {{ 'workflow.SocialAction deleted'|trans }}
    </div>
{% else %}
    <div class="flex-table accompanying-course-work">
        {% include '@ChillPerson/AccompanyingCourseWork/_item.html.twig' with {
            'w': work,
            'displayAction': false,
            'displayContent': 'short',
            'itemBlocClass': 'bg-chill-light-gray'
        } %}
    </div>
    {% if display_action is defined and display_action == true %}
        <ul class="record_actions">
            <li>
                <a class="btn btn-update"
                   href="{{ chill_path_add_return_path('chill_person_accompanying_period_work_edit', { 'id': work.id }) }}">
                    {{ 'Edit'|trans }}
                </a>
            </li>
        </ul>
    {% endif %}
{% endif %}
