<template>
    <div class="container usercontainer">
      <div class="user-identification">
        <user-render-box-badge :user="item.result"></user-render-box-badge>
      </div>
    </div>
    <div class="right_actions">
       <badge-entity
          :entity="item.result"
          :options="{ displayLong: true }">
       </badge-entity>
    </div>
</template>

<script>
import BadgeEntity from 'ChillMainAssets/vuejs/_components/BadgeEntity.vue';
import UserRenderBoxBadge from 'ChillMainAssets/vuejs/_components/Entity/UserRenderBoxBadge.vue';

export default {
   name: 'SuggestionUser',
   components: {
     UserRenderBoxBadge,
      BadgeEntity
   },
   props: ['item'],
   computed: {
     hasParent() {
       return this.$props.item.result.parent !== null;
     },
   }
}
</script>

<style lang="scss" scoped>
.usercontainer {
 .userparent {
    .name {
      font-weight: bold;
      font-variant: all-small-caps;
    }
 }
}
</style>
