{% extends '@ChillMain/Admin/layoutWithVerticalMenu.html.twig' %}

{% block title %}{{ 'New permission group'|trans }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'New permission group'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {% if form.flags is defined %}
    {{ form_row(form.flags) }}
    {% endif %}

    <ul class="record_actions sticky-form-buttons">
        <li class='cancel'>
            <a href="{{ path('admin_permissionsgroup') }}" class="btn btn-cancel">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
        <li>
            {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-create' } } ) }}
        </li>
    </ul>

    {{ form_end(form) }}
{% endblock %}
