<div class="item-bloc">
    <div class="item-row">
        <h3>
            {{ entity.title }}
        </h3>
    </div>
    <div class="item-row">
        <p>
            {% if entity.startDate %}
                <span>{{ entity.startDate|format_date('long') }}</span>
            {% endif %}
            {% if entity.endDate %}
                <span> - {{ entity.endDate|format_date('long') }}</span>
            {% endif %}
        </p>
    </div>
    <div class="item-row separator">
        <div>
            {{ entity.content|u.truncate(350, '… [' ~ ('news.read_more'|trans) ~ '](' ~ chill_path_add_return_path('chill_main_single_news_item', { 'id': entity.id } ) ~ ')', false)|chill_markdown_to_html }}
        </div>
    </div>
    <div class="item-row">
        <ul class="record_actions">
            <li>
                <a href="{{ chill_path_add_return_path('chill_main_single_news_item', { 'id': entity.id } ) }}" class="btn btn-show btn-mini"></a>
            </li>
        </ul>
    </div>
</div>

