<div class="flex-table">
    <div class="item-bloc">
        <p class="date-label">
            <span>{{ entity.startDate|format_date('long') }}</span>
            {% if entity.endDate is not null %}
                <span> - {{ entity.endDate|format_date('long') }}</span>
            {% endif %}
        </p>
    </div>
    <div class="item-bloc">
        <div class="news-content">
            {{ entity.content|chill_markdown_to_html }}
        </div>
    </div>
</div>
