
{% macro insert_onthefly(type, entity) %}
    {% include '@ChillMain/OnTheFly/_insert_vue_onthefly.html.twig' with {
        action: 'show', displayBadge: true,
        targetEntity: { name: type, id: entity.id },
        buttonText: entity|chill_entity_render_string,
        isDead: entity.deathdate is not null
    } %}
{% endmacro %}

<div>
    {% if accompanyingCourse.participations is not empty %}
        <div class="col mb-4">
            <h4 class="item-key">{{ 'Persons associated'|trans }}</h4>
            {% for r in accompanyingCourse.participations %}
                {{ _self.insert_onthefly('person', r.person) }}
            {% endfor %}
        </div>
    {% endif %}

    {% if accompanyingCourse.socialIssues is not empty %}
        <div class="col mb-4">
            <h4 class="item-key">{{ 'Social issues'|trans }}</h4>
            {% for s in accompanyingCourse.socialIssues %}
                {{ s|chill_entity_render_box }}
            {% endfor %}
        </div>
    {% endif %}

</div>


