{%- set countPersonLocation = accompanyingCourse.availablePersonLocation|length -%}
{%- set hasPersonLocation = countPersonLocation > 0 -%}
<div class="alert alert-danger {% if hasPersonLocation %}alert-with-actions{% endif %}">
    <div class="float-button bottom">
        <div class="box">
            {% if is_granted('CHILL_PERSON_ACCOMPANYING_PERIOD_UPDATE', accompanyingCourse) %}
            <div class="action">
                <ul class="record_actions">
                    <li>
                        <a class="btn btn-sm btn-update change-icon"
                           href="{{ path('chill_person_accompanying_course_edit', { 'accompanying_period_id': accompanyingCourse.id, '_fragment': 'section-20' }) }}">
                            <i class="fa fa-fw fa-crosshairs"></i>
                            {{ 'fix it'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
                <p>
            {{ 'This course is located at a temporarily address. You should locate this course to an user'|trans }}</p>
            {% if not hasPersonLocation %}
                <p>
                {{ 'Associate at least one member with an household, and set an address to this household'|trans }}</p>
            {% endif %}
        </div>
    </div>
</div>
