{% extends "@ChillPerson/AccompanyingCourse/layout.html.twig"  %}

{% block title %}{{ 'Close accompanying course'|trans }}{% endblock %}

{% block content %}
    <h1>{{ "Close accompanying course"|trans }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.closingDate) }}
    {{ form_row(form.closingMotive) }}

    {% set accompanying_course_id = null %}
    {% if accompanyingCourse %}
        {% set accompanying_course_id = accompanyingCourse.id %}
    {% endif %}

        <ul class="record_actions sticky-form-buttons">
            <li class="cancel">
                <a href="{{ chill_return_path_or('chill_person_accompanying_course_index',  {'accompanying_period_id' : accompanyingCourse.id}) }}" class="btn btn-cancel">
                    {{ 'Return'|trans }}
                </a>
            </li>
            <li>
                <button class="btn btn-update" type="submit">{{ 'Save'|trans }}</button>
            </li>
        </ul>

    {{ form_end(form) }}
{% endblock %}