{% extends "@ChillPerson/AccompanyingCourse/layout.html.twig"  %}

{% block title 'Re-Open a period'|trans  %}

{% block content %}
    <h1>{{ "Re-Open a period"|trans }}</h1>

    <p class="message-confirm">{{ 'Are you sure you want to re-open this period ?'|trans }}<p>

    {{ form_start(form) }}

    {% set accompanying_course_id = null %}
    {% if accompanyingCourse %}
        {% set accompanying_course_id = accompanyingCourse.id %}
    {% endif %}

        <ul class="record_actions sticky-form-buttons">
            <li class="cancel">
                <a href="{{ chill_return_path_or('chill_person_accompanying_course_index',  {'accompanying_period_id' : accompanyingCourse.id}) }}" class="btn btn-cancel">
                    {{ 'Return'|trans }}
                </a>
            </li>
            <li>
                <button class="btn btn-update" type="submit">{{ 'Save'|trans }}</button>
            </li>
        </ul>

    {{ form_end(form) }}
{% endblock %}