<template>
    <span v-if="isCut">{{ cutText }}</span>
    <span v-else class="person-text">
        <span class="firstname">{{ person.firstName }}</span>
        <span class="lastname">{{ person.lastName }}</span>
        <span v-if="person.altNames && person.altNames.length > 0" class="altnames">
            <span :class="'altname altname-' + altNameKey"> ({{ altNameLabel }})</span>
        </span>
        <span v-if="person.suffixText" class="suffixtext">&nbsp;{{ person.suffixText }}</span>
        <span class="age" v-if="this.addAge && person.birthdate !== null && person.deathdate === null">{{ $tc('renderbox.years_old', person.age) }}</span>
        <span v-else-if="this.addAge && person.deathdate !== null">&nbsp;(‡)</span>
    </span>
</template>

<script>

export default {
    name: "PersonText",
    props: {
      person: {
        required: true,
      },
      isCut: {
        type: Boolean,
        required: false,
        default: false
      },
      addAge: {
        type: Boolean,
        required: false,
        default: true,
      }
    },
    computed: {
        altNameLabel: function() {
            for(let i = 0; i < this.person.altNames.length; i++){
                return this.person.altNames[i].label
            }
        },
        altNameKey: function() {
            for(let i = 0; i < this.person.altNames.length; i++){
                return this.person.altNames[i].key
            }
        },
        cutText: function() {
            let more = (this.person.text.length > 15) ?'…' : '';
            return this.person.text.slice(0,15) + more;
        }
    }
}
</script>
