{% extends "@ChillMain/Admin/layoutWithVerticalMenu.html.twig" %}

{% block vertical_menu_content %}
	{{ chill_menu('admin_aside_activity', {
        'layout': '@ChillMain/Admin/menu_admin_section.html.twig',
    }) }}
{% endblock %}

{% block layout_wvm_content %}
	{% block admin_content %}
		<!-- block content empty -->
		<h1>{{ 'Aside activity configuration'|trans }}</h1>
	{% endblock %}
{% endblock  %}
