<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <!-- Enable IE Standards mode -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title></title>
    <meta name="description" content="">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="{{ favIconUrl }}" />
    <script type="text/javascript">
        const editor_url = "{{ server|escape('js') }}";
    </script>
    {{ encore_entry_link_tags('page_wopi_editor') }}
    {{ encore_entry_script_tags('page_wopi_editor') }}
</head>

<body>

    <form id="office_form" name="office_form" target="office_frame" action="{{ server }}" method="post">
        <input name="access_token" value="{{ access_token }}" type="hidden" />
        <input name="access_token_ttl" value="{{ access_token_ttl }}" type="hidden" />
        <input name="ui_defaults" value="TextRuler=fase;TextSidebar=false;TextStatusbar=true;PresentationSidebar=false;PresentationStatusbar=false;SpreadsheetSidebar=false;SpreadsheetStatusbar=false;UIMode=tabbed;SaveAsMode=group;" type="hidden" />
    </form>

    <span id="frameholder"></span>

</body>
</html>
