{% extends '@ChillMain/layout.html.twig' %}

{% block js %}
    <script type="application/javascript">
        window.stored_object = '{{ storedObject|json_encode|escape('js') }}'
    </script>
    {{ encore_entry_script_tags('mod_reload_page') }}
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('mod_reload_page') }}
{% endblock %}

{% block content %}
    <div class="alert alert-danger text-center">
        <div>
            <p>
                {{ 'docgen.Doc generation is pending'|trans }}
            </p>
        </div>

        <div>
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>

    </div>

    <ul class="sticky-form-buttons record_actions">
        <li class="cancel">
            <a href="{{ chill_return_path_or('chill_main_homepage') }}" class="btn btn-cancel">
                {{ 'docgen.Come back later'|trans|chill_return_path_label }}
            </a>
        </li>
    </ul>
{% endblock content %}
