.confidential {
    display: flex;
    position: relative;
    margin-right: 20px
}

.toggle-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 5;
    padding-right: 1rem;
}
.toggle{
    position: absolute;
    right: 4px;
    &-twig {
        position: absolute;
        right: -25px;
        bottom: 20px;
    }
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}