{% extends "@ChillMain/layout.html.twig"  %}

{% block title 'notification.Edit notification'|trans %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('mod_pickentity_type') }}
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('mod_pickentity_type') }}
{% endblock %}

{% block content %}
<div class="col-8 notification notification-edit">
    <h1 class="mb-5">{{ block('title') }}</h1>

    {{ form_start(form, { 'attr': { 'id': 'notification' }}) }}

    {{ form_row(form.title, { 'label': 'notification.subject'|trans }) }}
    {{ form_row(form.addressees, { 'label': 'notification.sent_to'|trans }) }}

    {{ form_row(form.addressesEmails) }}

    {% include handler.template(notification) with handler.templateData(notification) %}

    <div class="mb-3 row">
        <label class="col-form-label col-sm-4" for="notification_message">{{ form_label(form.message) }}</label>
        <div class="col-12">
            {{ form_widget(form.message) }}
        </div>
    </div>

    {{ form_end(form) }}

    <ul class="record_actions sticky-form-buttons">
        <li class="cancel">
            <a href="{{ chill_return_path_or('chill_main_homepage') }}" class="btn btn-cancel">{{ 'Cancel'|trans|chill_return_path_label }}</a>
        </li>
        <li>
            <button type="submit" form="notification" class="btn btn-save">{{ 'Save'|trans }}</button>
        </li>
    </ul>
</div>
{% endblock %}
