{{ dest.label }},

{{ notification.sender.label }} a créé une notification pour vous:

> {{ notification.title }}
>
>
{%- for line in notification.message|split("\n") %}
> {{ line }}
{%- if not loop.last %}
>
{%- endif %}
{%- endfor %}

Vous pouvez visualiser la notification et y répondre ici:

{{ absolute_url(path('chill_main_notification_show', {'_locale': 'fr', 'id': notification.id }, false)) }}

--
Le logiciel Chill
