{{ dest }},

{{ notification.sender.label }} a créé une notification pour vous:

> {{ notification.title }}
>
>
{%- for line in notification.message|split("\n") %}
> {{ line }}
{%- if not loop.last %}
>
{%- endif %}
{%- endfor %}

Vous pouvez cliquer sur ce lien pour obtenir un accès permanent à la notification:

{{ absolute_url(path('chill_main_notification_grant_access_by_access_key', {'_locale': 'fr', 'id': notification.id, 'accessKey': notification.accessKey, 'email': dest})) }}

--
Le logiciel Chill
