<div class="notification-counter">
    {% if counter.total > 0 %}
        <span class="counter">
            {{ 'notification.counter total notifications'|trans({'total': counter.total }) }}
        </span>
    {% endif %}
    {% if counter.unread > 0 %}
        <span class="counter">
            {{ 'notification.counter unread notifications'|trans({'unread': counter.unread }) }}
        </span>
    {% endif %}
</div>
