<div class="col-10 mt-5">
    {# vue component #}
    <div id="homepage_widget"></div>

    {% include '@ChillMain/Homepage/fast_actions.html.twig' %}
</div>


{% block css %}
    {{ encore_entry_link_tags('page_homepage_widget') }}
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('page_homepage_widget') }}
{% endblock %}
