{% extends '@ChillMain/layout.html.twig' %}

{% block title 'saved_export.Delete saved ?'|trans %}

{% block display_content %}
<div class="col-10">
    <h3>{{ saved_export.title }}</h3>
    <p>{{ saved_export.description|chill_markdown_to_html }}</p>

</div>
{% endblock %}

{% block content %}
    <div class="container chill-md-10">
        {{ include('@ChillMain/Util/confirmation_template.html.twig',
            {
                'title'             : 'saved_export.Delete saved ?'|trans,
                'confirm_question'  : 'saved_export.Are you sure you want to delete this saved ?'|trans,
                'display_content'   : block('display_content'),
                'cancel_route'      : 'chill_main_export_saved_list_my',
                'cancel_parameters' : {},
                'form'              : delete_form
            } ) }}
    </div>
{% endblock %}
