{% extends '@ChillMain/Admin/layoutWithVerticalMenu.html.twig' %}

{% block title %}{{ 'Circle creation'|trans }}{% endblock %}

{% block admin_content %}
    <h1>{{ 'Circle creation'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.active) }}

    <ul class="record_actions sticky-form-buttons">
        <li class='cancel'>
            <a href="{{ path('admin_scope') }}" class="btn btn-cancel">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
        <li>
            {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-save' }}) }}
        </li>
    </ul>
    {{ form_end(form) }}
{% endblock %}
