{% extends "@ChillMain/layout.html.twig" %}

{% block content %}
    {% block admin_content %}<!-- block content empty -->
        <div class="container-fluid">
            <div class="col-10 push-1">
                <h2>{{ 'Welcome to the admin section !'|trans }}</h2>
            </div>
        </div>
    {% endblock %}
{% endblock  %}
