{% extends '@ChillMain/Admin/layoutWithVerticalMenu.html.twig' %}

{% block admin_content %}
    <h1>{{ 'ActivityReasonCategory list'|trans }}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Active'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.name|localize_translatable_string }}
                </td>
                <td>
                    <i class="fa {% if entity.active %}fa-check-square-o{% else %}fa-square-o{% endif %}"></i>
                </td>
                <td>
                    <ul class="record_actions">
                    <li>
                        <a href="{{ path('chill_activity_activityreasoncategory_show', { 'id': entity.id }) }}" class="btn btn-show" title="{{ 'show'|trans }}"></a>
                    </li>
                    <li>
                        <a href="{{ path('chill_activity_activityreasoncategory_edit', { 'id': entity.id }) }}" class="btn btn-edit" title="{{ 'edit'|trans }}"></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="record_actions sticky-form-buttons">
        <li>
            <a href="{{ path('chill_activity_activityreasoncategory_new') }}" class="btn btn-new">
                {{ 'Create a new activity category reason'|trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
