{% extends '@ChillMain/Admin/layoutWithVerticalMenu.html.twig' %}

{% block admin_content %}
    <h1>{{ 'ActivityReasonCategory creation'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.active) }}

    <ul class="record_actions sticky-form-buttons">
        <li class="cancel">
            <a href="{{ path('chill_activity_activityreasoncategory') }}" class="btn btn-cancel">{{ 'Back to the list'|trans }}</a>
        </li>
        <li>
            {{ form_widget(form.submit, { 'attr': { 'class' : 'btn btn-new' } } ) }}
        </li>
    </ul>
    {{ form_end(form) }}

{% endblock %}
