{% extends '@ChillMain/CRUD/Admin/index.html.twig' %}

{% block title 'docgen.Pick template context'|trans %}

{% block admin_content %}
<div class="col-md-10 col-xxl">

    <h1>{{ block('title') }}</h1>
   <div class="container overflow-hidden">
       {% for key, context in contexts %}
            <div class="row g-3" style="margin-top: 1rem;">
                <div class="col-4 offset-1 text-center">
                    <a
                        href="{{ path('chill_crud_docgen_template_new', { 'context': key }) }}"
                        class="btn btn-outline-chill-green-dark">
                        {{ context.name|trans }}
                    </a>
                </div>
                <div class="col">
                    <div>
                        {{ context.description|trans|nl2br }}
                    </div>
                </div>
            </div>
       {% endfor %}
   </div>
</div>

{% endblock %}
