///
///  Chill badge mixin
//   define chill visual badge
///

@mixin chill_badge($color) {
    //text-transform: capitalize !important;
    font-weight: 500 !important;
    border-left: 20px groove $color;
    &:before {
        font-family: ForkAwesome;
        content: '\f04b';
        color: $color;
    }
}

///
///  Social badge mixin
//   define visual badge for social issues or social action
///

@mixin badge_social($color) {
    @include chill_badge($color);
    &:before {
        margin: 0 0.3em 0 -0.75em;
    }
}

///
/// Mixin for dashboards (with design like badge_social)
///

@mixin dashboard_like_badge($color) {
    @include chill_badge($color);
    &:before {
        margin: 0 0.3em 0 -1.05em;
    }
}

///
/// Make list with items marker like a colored triangle
///

@mixin list_marker_triangle($color) {
    & > li {
        padding-left: 0.3em;
        &::marker {
            font-family: ForkAwesome;
            content: '\f04b';
            font-size: 75%;
            transform: rotate(45deg);
            color: $color;
        }
    }
}
