{#
    if the `custom_fields` option is used, the custom fields are available
    under the customFields variable, with the custom field slug as key.
#}
{% import '@ChillPerson/Person/macro.html.twig' as person %}
<div class="col-8 centered">
    <h2>{{ 'Accompanyied people'|trans }}</h2>
    <table>
        <tbody>
            <tr>
    {% for p in persons %}
        {% if (loop.index - 1) % 3 == 0 %}
        </tr><tr>
        {% endif %}
        <td>{{ person.render(p, true) }}</td>
    {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
