{% if is_granted('CHILL_PERSON_CREATE') %}
<div class="col-8 mt-5 homepage_widget">
    <center>
        <a href="{{ path('chill_person_new') }}">
            <div class="btn btn-lg btn-primary">
                {{ 'Add a person'|trans }}
            </div>
        </a>
    </center>
</div>
{% endif %}
