<template>

   <button v-if="hasWorkflow"
      class="btn btn-primary"
      @click="openModal">
      <b>{{ countWorkflows }}</b>
      <template v-if="countWorkflows > 1">{{ $t('workflows') }}</template>
      <template v-else>{{ $t('workflow') }}</template>
   </button>

   <pick-workflow v-else-if="allowCreate"
      :relatedEntityClass="this.relatedEntityClass"
      :relatedEntityId="this.relatedEntityId"
      :workflowsAvailables="workflowsAvailables"
      :preventDefaultMoveToGenerate="this.$props.preventDefaultMoveToGenerate"
      :goToGenerateWorkflowPayload="this.goToGenerateWorkflowPayload"
      @go-to-generate-workflow="goToGenerateWorkflow"
   ></pick-workflow>

   <teleport to="body">
      <modal v-if="modal.showModal"
         :modalDialogClass="modal.modalDialogClass"
         @close="modal.showModal = false">

         <template v-slot:header>
            <h2 class="modal-title">{{ $t('workflow_list') }}</h2>
         </template>

         <template v-slot:body>
            <list-workflow-vue
               :workflows="workflows"
            ></list-workflow-vue>
         </template>

         <template v-slot:footer>
            <pick-workflow v-if="allowCreate"
               :relatedEntityClass="this.relatedEntityClass"
               :relatedEntityId="this.relatedEntityId"
               :workflowsAvailables="workflowsAvailables"
               :preventDefaultMoveToGenerate="this.$props.preventDefaultMoveToGenerate"
               :goToGenerateWorkflowPayload="this.goToGenerateWorkflowPayload"
               @go-to-generate-workflow="this.goToGenerateWorkflow"
            ></pick-workflow>
         </template>

      </modal>
   </teleport>
</template>

<script>
import Modal from 'ChillMainAssets/vuejs/_components/Modal';
import PickWorkflow from 'ChillMainAssets/vuejs/_components/EntityWorkflow/PickWorkflow.vue';
import ListWorkflowVue from 'ChillMainAssets/vuejs/_components/EntityWorkflow/ListWorkflow.vue';

export default {
   name: "ListWorkflowModal",
   components: {
      Modal,
      PickWorkflow,
      ListWorkflowVue
   },
   emits: ['goToGenerateWorkflow'],
   props: {
      workflows: {
         type: Array,
         required: true,
      },
      allowCreate: {
         type: Boolean,
         required: true,
      },
      relatedEntityClass: {
         type: String,
         required: true,
      },
      relatedEntityId: {
         type: Number,
         required: false,
      },
      workflowsAvailables: {
         type: Array,
         required: true,
      },
      preventDefaultMoveToGenerate: {
          type: Boolean,
          required: false,
          default: false,
      },
      goToGenerateWorkflowPayload: {
         required: false,
         default: {}
      },
   },
    data() {
      return {
         modal: {
            showModal: false,
            modalDialogClass: "modal-dialog-scrollable modal-xl"
         },
      }
   },
   computed: {
      countWorkflows() {
         return this.workflows.length;
      },
      hasWorkflow() {
         return this.countWorkflows > 0;
      }
   },
   methods: {
      openModal() {
         this.modal.showModal = true;
      },
      goToGenerateWorkflow(data) {
          console.log('go to generate workflow intercepted', data);
          this.$emit('goToGenerateWorkflow', data);
      }
   },
   i18n: {
      messages: {
         fr: {
            workflow_list: "Liste des workflows associés",
            workflow: " workflow associé",
            workflows: " workflows associés",
         }
      }
   }
}
</script>

<style scoped></style>
