<template>
    <template v-if="workflowsAvailables.length >= 1">
        <div class="dropdown d-grid gap-2">
            <button class="btn btn-primary dropdown-toggle" type="button" id="createWorkflowButton" data-bs-toggle="dropdown" aria-expanded="false">
                Créer un workflow
            </button>
            <ul class="dropdown-menu" aria-labelledby="createWorkflowButton">
                <li v-for="w in workflowsAvailables" :key="w.name">
                    <a class="dropdown-item" :href="makeLink(w.name)" @click.prevent="goToGenerateWorkflow($event, w.name)">{{ w.text }}</a>
                </li>
            </ul>
        </div>
    </template>
</template>

<script>

import {buildLinkCreate} from 'ChillMainAssets/lib/entity-workflow/api.js';

export default {
    name: "PickWorkflow",
    props: {
        relatedEntityClass: {
            type: String,
            required: true,
        },
        relatedEntityId: {
            type: Number,
            required: false,
        },
        workflowsAvailables: {
            type: Array,
            required: true,
        },
        preventDefaultMoveToGenerate: {
            type: Boolean,
            required: false,
            default: false,
        },
        goToGenerateWorkflowPayload: {
            required: false,
            default: {}
        },
    },
    emits: ['goToGenerateWorkflow'],
    methods: {
        makeLink(workflowName) {
            return buildLinkCreate(workflowName, this.relatedEntityClass, this.relatedEntityId);
        },
        goToGenerateWorkflow(event, workflowName) {
            console.log('goToGenerateWorkflow', event, workflowName);

            if (!this.$props.preventDefaultMoveToGenerate) {
                console.log('to go generate');
                window.location.assign(this.makeLink(workflowName));
            }

            this.$emit('goToGenerateWorkflow', {event, workflowName, link: this.makeLink(workflowName), payload: this.goToGenerateWorkflowPayload});
        }
    }
}
</script>

<style scoped>

</style>
