<div class="task-new">

	<h1>{{ 'New task'|trans }}</h1>

	{{ form_start(form) }}

	{{ form_errors(form) }}

	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	{{ form_row(form.assignee) }}
    {% if form.circle is defined %}
        {{ form_row(form.circle) }}
    {% endif %}
	{{ form_row(form.startDate) }}
	{{ form_row(form.endDate) }}
	{{ form_row(form.warningInterval) }}

	<ul class="record_actions sticky-form-buttons">
		<li class="cancel">
			<a class="btn btn-cancel" href={% if task.person is not null %} "{{ path('chill_task_singletask_list', { 'person_id': task.person.id, 'list_params': app.request.query.get('list_params', {} )} ) }}" {% else %} "{{ chill_return_path_or('chill_task_singletask_by-course_list', {'id': task.course.id}) }}" {% endif %}>
				{{'Cancel'|trans}}
			</a>
		</li>
		<li>
			{{ form_widget(form.submit, { 'label': 'Add a new task'|trans, 'attr': {'class': 'btn btn-save'}  })  }}
		</li>
	</ul>

	{{ form_end(form) }}

</div>
