/*
*   ADDITIONNAL COLORS VARIABLES
*/

// Contexts banners
$chill-person-context: $chill-green;
$chill-accourse-context: #718596;
$chill-household-context: #929d69;

// Badges colors
$social-issue-color: #4bafe8;
$social-action-color: $orange;
$activity-color: yellowgreen;

// budget colors
$budget-resource-color: #6d9e63;
$budget-charge-color: #e03851;