/// forms
form {

    /* avoid useless html in first level of the custom fields row loop in forms
    * (better should to improve the loop)
    */
    & > div.container-fluid {
        & > div.row > .parent {
            padding: 0;
            & div.cf-fields span.cf-title {
                margin: 1em -15px 0;
                width: calc(100% + 30px);
                @include title_in_form;
            }
        }
    }

    fieldset {
        margin-top: 1em;
        & > legend {
            @include title_in_form;
        }
    }

    // customfields titles in form
    span.cf-title {
        @include title_in_form;
    }

    label {
        display: inline;
        &.required:after {
            content: " *";
            color: $red;
        }
    }
}

.col-form-label {
    padding-top: .5em;
    padding-bottom: .5em;
    font-weight: 700;
    margin-bottom: .375em;
}

.chill_filter_order {
    background: $gray-100;
}