//
// Titles in forms
//

@mixin title_in_form {
    font-size: 1.438em;
    font-weight: 700;
    width: 100%;
    border-bottom: 3px solid $gray-200;
    margin-bottom: 1em;
    display: block;
}

// We use box-shadow instead of border
// to avoid to manage border double-width
// Then we can simulate border-collapse: collapse (table)

@mixin border-collapse {
    box-shadow:
        1px 0 0 0 var(--bs-dark),
        0 1px 0 0 var(--bs-dark),
        1px 1px 0 0 var(--bs-dark),   /* fix the corner */
        1px 0 0 0 var(--bs-dark) inset,
        0 1px 0 0 var(--bs-dark) inset;
}

// Dotted line to separate rows

@mixin separator {
    margin-top: 0.5em;
    border-top: 1px dotted $gray-900;
    padding-top: 0.5em;
}
