// generic rules
section.chill-entity {

    // display inline for render raw
    // have no effect for render label, bloc !
    display: inline;

    // don't break flex cascade with section tag
    div.flex-bloc & {
        display: flex;
        flex-grow: 1; flex-shrink: 1; flex-basis: auto;
    }
}

// specific rules
// all render box doesn't use a section tag !
.chill-entity {

    // used for: entity-person, entity-thirdparty
    &.entity-person,
    &.entity-thirdparty {

        span.entity-raw {
            & > span:not(:first-child):before {
                content: " ";
            }
        }
        div.entity-label {
            div.denomination {
                &.h3 {
                    font-size: 1.3em;
                    font-weight: 700;
                }
                a {
                    text-decoration: none;
                }
                span.badge {
                    margin-left: 0.3em;
                }
                span.altnames,
                span.id-number {
                    font-weight: lighter;
                    font-size: 50%;
                    margin-left: 0.5em;
                }
                span.id-number {
                    &:before { content: '(n°'; }
                    &:after { content: ')'; }
                }
            }
            p.moreinfo {}
        }
        div.entity-bloc {}
    }

    // used for addresses
    &.entity-address {

        .address {
            font-size: 98%;
            font-variant: small-caps;

            &.multiline {
                margin: 0.7em 0;
                p {
                    display: block;
                    margin-bottom: 0;
                }
            }
            &.delimiter {
                p:not(:first-child):before {
                    content: ' — ';
                }
            }
            p {
                display: inline-block;
                //margin: 0 0 0 1.5em;
                //text-indent: -1.5em;

                &.street {
                    span.streetnumber {
                        &::before { content: ", "; }
                    }
                }
                &.postcode {
                    span.code {}
                    span.name {}
                }
                &.country {}
            }
        }

        .noaddress {
            font-style: italic;
        }

        .address-valid {
            margin-top: 2em;
            &.date-since {}
            &.date-until {}
        }
        .address-more {
            margin-bottom: 1em;
        }
    }

    // used for comment-embeddable
    &.entity-comment-embeddable {
        width: 100%;
    }
}
