{% extends '@ChillMain/Admin/layoutWithVerticalMenu.html.twig' %}

{% block title %}{{ 'Edit password for %username%'|trans( { '%username%': entity.username } ) }}{% endblock %}

{% block admin_content -%}
    <h1>{{ 'Edit password for %username%'|trans( { '%username%': entity.username } ) }}</h1>

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.new_password) }}

    <ul class="record_actions">
        <li class="cancel">
            <a href="{{ chill_return_path_or('chill_crud_admin_user_index') }}" class="btn btn-cancel">
                {{ 'Cancel'|trans }}
            </a>
        </li>
        <li>
            {{ form_widget(edit_form.submit, { 'attr': { 'class': 'btn btn-edit' } } ) }}
        </li>
    </ul>

    {{ form_end(edit_form) }}
{% endblock %}
