{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set activeRouteKey = 'chill_activity_activity_list' %}
{% set person = activity.person %}

{% block title  'Remove activity'|trans %}

{% block content %}
{{ include('@ChillMain/Util/confirmation_template.html.twig',
    {
        'title'             : 'Remove activity'|trans,
        'confirm_question'  : 'Are you sure you want to remove the activity about "%name%" ?'|trans({ '%name%' : person.firstname ~ ' ' ~ person.lastname } ),
        'cancel_route'      : 'chill_activity_activity_list',
        'cancel_parameters' : { 'person_id' : activity.person.id, 'id' : activity.id },
        'form'              : delete_form
    } ) }}
{% endblock %}
