{% extends "@ChillPerson/AccompanyingCourse/layout.html.twig" %}

{% set activeRouteKey = 'chill_activity_activity_list' %}

{% block title  'Remove activity'|trans %}

{% block content %}
    {{ include('@ChillMain/Util/confirmation_template.html.twig',
        {
            'title'             : 'Remove activity'|trans,
            'confirm_question'  : 'Are you sure you want to remove the activity about "%name%" ?'|trans({ '%name%' : accompanyingCourse.id } ),
            'cancel_route'      : 'chill_activity_activity_list',
            'cancel_parameters' : { 'accompanying_period_id' : accompanyingCourse.id, 'id' : activity.id },
            'form'              : delete_form
        } ) }}
{% endblock %}
