{#
 * Copyright (C) 2014, Champs Libres Cooperative SCRLFS, <http://www.champs-libres.coop>
 *
 * This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "@ChillPerson/Person/layout.html.twig"  %}

{% set activeRouteKey = 'chill_activity_activity_list' %}

{% block title  'Update activity'|trans %}

{% block content %}
<div class="activity-edit">

    <div id="activity"></div> {# <=== vue component #}
    {% include '@ChillActivity/Activity/edit.html.twig' %}

</div>
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('mod_async_upload') }}
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function (e) {
            chill.displayAlertWhenLeavingModifiedForm('form[name="{{ edit_form.vars.form.vars.name }}"]',
            '{{ "You are going to leave a page with unsubmitted data. Are you sure you want to leave ?"|trans }}');
        });
        window.activity = {{ activity_json|json_encode|raw }};
    </script>
    {{ encore_entry_script_tags('vue_activity') }}
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('mod_async_upload') }}
    {{ encore_entry_link_tags('vue_activity') }}
{% endblock %}
