{% macro recordAction(activity, context = null, person_id = null, accompanying_course_id = null) %}
    {% if is_granted('CHILL_ACTIVITY_SEE_DETAILS', activity) %}
        {% if no_action is not defined or no_action == false %}
            <li>
                {% set showGroup = activity.accompanyingPeriod is not null and activity.accompanyingPeriod.hasUser and activity.accompanyingPeriod.user is not same as(app.user)  %}
                <div class="{% if showGroup %}btn-group{% endif %}" {% if showGroup %}role="group"{% endif %}>
                    {% if showGroup %}
                        <button id="btnGroupNotifyButtons" type="button" class="btn btn-notify dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'notification.Notify'|trans }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupNotifyButtons">
                            <li>
                                <a class="dropdown-item" href="{{ chill_path_add_return_path('chill_main_notification_create', {'entityClass': 'Chill\\ActivityBundle\\Entity\\Activity', 'entityId': activity.id, 'tos': [activity.accompanyingPeriod.user.id]}) }}">
                                    {{ 'notification.Notify referrer'|trans }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ chill_path_add_return_path('chill_main_notification_create', {'entityClass': 'Chill\\ActivityBundle\\Entity\\Activity', 'entityId': activity.id}) }}">
                                    {{ 'notification.Notify any'|trans }}
                                </a>
                            </li>
                        </ul>
                    {% else %}
                        <a class="btn btn-notify" href="{{ chill_path_add_return_path('chill_main_notification_create', {'entityClass': 'Chill\\ActivityBundle\\Entity\\Activity', 'entityId': activity.id}) }}">
                            {{ 'notification.Notify'|trans }}
                        </a>
                    {% endif %}
                </div>
            </li>
        {% endif %}
        {% if context == 'person' and activity.accompanyingPeriod is not empty %}
            {#
                Disable person_id in following links, for redirect to accompanyingCourse context
            #}
            {% set person_id = null %}
            {% set accompanying_course_id = activity.accompanyingPeriod.id %}
            <li>
                <a href="{{ chill_path_add_return_path('chill_activity_activity_list',{
                        'accompanying_period_id': accompanying_course_id
                    }) }}"
                    class="btn btn-primary"
                    title="{{ 'See activity in accompanying course context'|trans }}">
                    <i class="fa fa-random fa-fw"></i>
                    {{ 'Period number %number%'|trans({'%number%': accompanying_course_id}) }}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('chill_activity_activity_show', {'id': activity.id,
                    'person_id': person_id,
                    'accompanying_period_id': accompanying_course_id
                }) }}"
                class="btn btn-show"
                title="{{ 'Show'|trans }}"></a>
        </li>
        {% if no_action is not defined or no_action == false %}
            {% if is_granted('CHILL_ACTIVITY_UPDATE', activity) %}
                <li>
                    <a href="{{ path('chill_activity_activity_edit', {'id': activity.id,
                            'person_id': person_id,
                            'accompanying_period_id': accompanying_course_id
                        }) }}"
                        class="btn btn-update"
                        title="{{ 'Edit'|trans }}"></a>
                </li>
            {% endif %}
            {% if is_granted('CHILL_ACTIVITY_DELETE', activity) %}
                <li>
                    <a href="{{ path('chill_activity_activity_delete', {'id': activity.id,
                            'person_id': person_id,
                            'accompanying_period_id': accompanying_course_id
                        }) }}"
                        class="btn btn-delete"
                        title="{{ 'Delete'|trans }}"></a>
                </li>
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

<div class="context-{{ context }}">

    {{ filter|chill_render_filter_order_helper }}

    {% if activities|length == 0 %}
        <p class="chill-no-data-statement">
            {{ "There isn't any activities."|trans }}
        </p>

    {% else %}

        <div class="flex-table activity-list">
            {% for activity in activities %}
                {% include '@ChillActivity/Activity/_list_item.html.twig' with {
                    'context': context,
                    'recordAction': _self.recordAction(activity, context, person_id, accompanying_course_id)
                } %}
            {% endfor %}
        </div>
    {% endif %}

    {{ chill_pagination(paginator) }}

</div>
