{% extends "@ChillPerson/AccompanyingCourse/layout.html.twig"  %}

{% set activeRouteKey = 'chill_activity_activity_new' %}

{% block title 'Activity creation' |trans %}

{% block content %}
<div class="activity-new">

    <div id="activity"></div> {# <=== vue component #}
    {% include '@ChillActivity/Activity/new.html.twig' with {'context': 'accompanyingCourse'} %}

</div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('mod_async_upload') }}
    <script type="text/javascript">
        window.activity = {{ activity_json|json_encode|raw }};
        {% if default_location is not null %}window.default_location_id = {{ default_location.id }}{% endif %};
    </script>
    {{ encore_entry_script_tags('vue_activity') }}
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('mod_async_upload') }}
    {{ encore_entry_link_tags('vue_activity') }}
{% endblock %}
