<div class="new-activity-select-type">
    <h2 class="chill-red">{{ "Activity creation"|trans }}</h2>

    {# TODO: refaire l'html css des tuilles #}

    {% for row in data %}
        <h3>{{ row.activityTypeCategory.name|localize_translatable_string }}</h3>
        <div class="activity-row">
            {% for activityType in row.activityTypes %}

                {% set person_id = null %}
                {% if person %}
                    {% set person_id = person.id %}
                {% endif %}

                {% set accompanying_course_id = null %}
                {% if accompanyingCourse %}
                    {% set accompanying_course_id = accompanyingCourse.id %}
                {% endif %}

                <a href="{{ path('chill_activity_activity_new', {
                    'person_id': person_id,
                    'activityType_id': activityType.id,
                    'accompanying_period_id': accompanying_course_id,
                    'activityData': activityData
                }) }}">

                    <div class="btn btn-primary">
                        {{ activityType.name|localize_translatable_string }}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}
</div>
