{% extends accompanyingCourse != null ? '@ChillPerson/AccompanyingCourse/layout.html.twig'
  : '@ChillMain/layout.html.twig' %}

{% block title 'household.Edit household members'|trans  %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-xxl household-members">

            <h1>{{ block('title') }}</h1>
            <div id="household_members_editor"></div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
      window.household_members_editor_data = {{ data|json_encode|raw }};
      window.household_members_editor_expand_suggestions = {{ expandSuggestions }};
    </script>
    {{ encore_entry_script_tags('vue_household_members_editor') }}
{% endblock %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('vue_household_members_editor') }}
{% endblock %}
