

{{ form_start(form) }}

{{ form_row(form.startDate) }}
{{ form_row(form.endDate) }}

{% if form.hostPerson is defined %}
    {{ form_row(form.hostPerson) }}
{% endif %}

{% if form.hostThirdParty is defined %}
    {{ form_row(form.hostThirdParty) }}
{% endif %}

{% if form.address is defined %}
    {{ form_row(form.address) }}

    {% block js %}
    {{ encore_entry_script_tags('mod_input_address') }}
    {% endblock %}

    {% block css %}
        {{ encore_entry_link_tags('mod_input_address') }}
    {% endblock %}
{% endif %}

{{ form_row(form.comment) }}


<ul class="record_actions sticky-form-buttons">
    <li>
        <button class="btn btn-update" type="submit">{{ 'Save'|trans }}</button>
    </li>
</ul>

{{ form_end(form) }}