{% extends "@ChillPerson/Person/layout.html.twig" %}

{% set activeRouteKey = '' %}

{% block title %}{{ 'New residential address'|trans }}{% endblock %}

{% block content %}
<div class="address-new">

        <h1>{{ block('title') }}</h1>

        {# TODO #}
        {% block form %}
            {% include '@ChillPerson/ResidentialAddress/_form.html.twig' %}
        {% endblock %}

</div>
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('mod_pickentity_type') }}
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('mod_pickentity_type') }}
{% endblock %}
