{% extends "@ChillMain/layout.html.twig" %}

{% block title 'Which kind of residential address would you create ?'|trans %}

{% block content %}
<div class="col-10 centered">
    <h1>{{ block('title') }}</h1>

    <div class="container" style="margin-top: 2rem;">
        <div class="row">
           <div class="col-md-4 mb-4">
               <a
                   href="{{ chill_path_forward_return_path('chill_person_residential_address_new', {'id': person.id, 'kind': 'person'}) }}"
                   class="btn btn-outline-chill-green-dark">
                   {{ 'The address of another person'|trans }}
               </a>
           </div>
           <div class="col-md-8">
               <p>{{ 'residential_address_person_explanation'|trans  }}</p>
           </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <a
                    href="{{ chill_path_forward_return_path('chill_person_residential_address_new', {'id': person.id, 'kind': 'thirdparty'}) }}"
                    class="btn btn-outline-chill-green-dark">
                    {{ 'The address of a third party'|trans }}
                </a>
            </div>
            <div class="col-md-8">
                <p>{{ 'residential_address_third_party_explanation'|trans  }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <a
                    href="{{ chill_path_forward_return_path('chill_person_residential_address_new', {'id': person.id, 'kind': 'address'}) }}"
                    class="btn btn-outline-chill-green-dark">
                    {{ 'A new address'|trans }}
                </a>
            </div>
            <div class="col-md-8">
                <p>{{ 'residential_address_new_address_explanation'|trans  }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
