{% extends '@ChillMain/layout.html.twig' %}

{% block title %}{{ ('crud.' ~ crud_name ~ '.delete.title')|trans({'%crud_name%': crud_name}) }}{% endblock %}

{% block content %}
    {% embed '@ChillMain/CRUD/_delete_content.html.twig' %}
    {% endembed %}
{% endblock content %}