{% extends '@ChillMain/layout.html.twig' %}

{% block title %}
{% include('@ChillMain/CRUD/_view_title.html.twig') %}
{% endblock %}

{% block content %}
{% embed '@ChillMain/CRUD/_view_content.html.twig' %}
{% endembed %}
{% endblock %}
