<template>
   <span v-for="h in personsByHousehold()" :class="{ 'household': householdExists(h.id), 'no-household': !householdExists(h.id) }" :key="h.id">
      <a v-if="householdExists(h.id)" :href="householdLink(h.id)">
         <i class="fa fa-home fa-fw text-light" :title="$t('persons_associated.show_household_number', { id: h.id })"></i>
      </a>
      <span v-for="person in h.persons" class="me-1" :key="person.id">
         <on-the-fly :type="person.type" :id="person.id" :buttonText="person.textAge" :displayBadge="'true' === 'true'" action="show"></on-the-fly>
      </span>
   </span>
</template>

<script>
import OnTheFly from 'ChillMainAssets/vuejs/OnTheFly/components/OnTheFly'

export default {
   name: "PersonsAssociated",
   components: {
      OnTheFly
   },
   props: [ 'accompanyingCourse' ],
   computed: {
      participations() {
         return this.accompanyingCourse.participations.filter(p => p.endDate === null)
      },
      persons() {
         return this.participations.map(p => p.person)
      },
      resources() {
         return this.accompanyingCourse.resources
      },
      requestor() {
         return this.accompanyingCourse.requestor
      }
   },
   methods: {
      uniq(array) {
         return [...new Set(array)]
      },
      personsByHousehold() {

         let households = []
         this.persons.forEach(p => { households.push(p.current_household_id) })

         let personsByHousehold = []
         this.uniq(households).forEach(h => {
               personsByHousehold.push({
                  id: h !== null ? h : 0,
                  persons: this.persons.filter(p => p.current_household_id === h)
               })
         })
         //console.log(personsByHousehold)
         return personsByHousehold
      },
      householdExists(id) {
         return id !== 0
      },
      householdLink(id) {
         return `/fr/person/household/${id}/summary`
      }
   }
}
</script>

<style lang="scss" scoped>
span.household {
   display: inline-block;
   border-top: 1px solid rgba(255, 255, 255, 0.3);
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   margin-right: 0.3em;
   padding: 5px;
}
</style>
