{% extends '@ChillMain/layout.html.twig' %}

{% block title 'docgen.Generate a document'|trans %}

{% block js %}
    {{ encore_entry_script_tags('mod_pickentity_type') }}
{% endblock %}

{% block css %}
    {{ encore_entry_link_tags('mod_pickentity_type') }}
{% endblock %}

{% block content %}
<div class="col-md-10 col-xxl">
    <h1>{{ block('title') }}</h1>
    <h2>{{ template.name|localize_translatable_string }}</h2>

    {{ form_start(form, { 'attr': { 'id': 'generate_doc_form' }}) }}
    {{ form(form) }}
    {{ form_end(form) }}

    <ul class="record_actions sticky-form-buttons">
        <li>
            <button type="submit" class="btn btn-edit change-icon" form="generate_doc_form">
                <i class="fa fa-cog"></i> {{ 'docgen.Generate'|trans }}
            </button>
        </li>
    </ul>
</div>
{% endblock %}
