@import '~ChillPersonAssets/chill/scss/mixins.scss';
@import '~ChillMainAssets/module/bootstrap/shared';

.badge-calendar {
    display: inline-block;
    background-color: #f3f3f3;

    .title_label {
        @include chill_badge($chill-l-gray);
    }

    .title_action {
        padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
        margin-right: 1rem;

        font-size: var(--bs-badge-font-size);
        font-weight: var(--bs-badge-font-weight);
        line-height: 1;
        color: var(--bs-badge-color);
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
    }
}

