div#calendarControls {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div#fullCalendar{

}

span.calendarRangeItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        text-decoration: none;
        padding: 3px;
    }
}
