<template>
  <div class="flex-table mb-5" v-if="hasHousehold">
    <div class="item-bloc">
      <household-render-box :household="fakeHouseholdWithConcerned"></household-render-box>
    </div>
  </div>
  <div class="flex-table" v-if="isModeLeave">
    <div class="item-bloc">
      <section>
        <div class="item-row">
          <div class="item-col">
            <div class="h4">
                  <span class="fa-stack fa-lg">
                     <i class="fa fa-home fa-stack-1x"></i>
                     <i class="fa fa-ban fa-stack-2x text-danger"></i>
                  </span>
              {{ $t('household_members_editor.household.leave_without_household') }}
            </div>
          </div>
        </div>
        <div class="item-row">
          {{ $t('household_members_editor.household.will_leave_any_household_explanation')}}
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import HouseholdRenderBox from 'ChillPersonAssets/vuejs/_components/Entity/HouseholdRenderBox.vue';

export default {
  name: "CurrentHousehold",
  components: {
    HouseholdRenderBox,
  },
  computed: {
    ...mapGetters([
        'hasHousehold',
        'fakeHouseholdWithConcerned',
        'isModeLeave'
    ])
  }
}
</script>

<style lang="scss" scoped>

</style>
