<div>
    <h3 class="single-line">
        {{ event.datetime|format_date('long') }}
        <span class="task"> / {{ 'Task'|trans }}</span> / 
        {% if transition is not null %}
            <span class="statement">{{ task_workflow_metadata(event.task, 'transition.sentence', transition)|trans({ '%user%': event.author.username }) }}</span> 
        {% else %}
            <span class="statement">{{ '%user% has created the task'|trans({ '%user%': event.author.username }) }}</span> 
        {% endif %}
        {% if 'person' != context %}
          / {{ task.person|chill_entity_render_box({'addLink': true}) }}
        {% endif %}
    </h3>
    
    <div class="statement">
            <dl class="chill_view_data">
                <dt class="inline">{{ 'Title'|trans }}</dt>
                <dd>{{ event.task.title }}</dd>

                {% if event.task.description is not empty %}
                    <dt class="inline">{{ 'Description'|trans }}</dt>
                    <dd>
                        <blockquote class="chill-user-quote">
                            {{ event.task.description|chill_markdown_to_html }}
                        </blockquote>
                    </dd>
                {% endif %}
                
                {% if event.task.endDate is not empty %}
                    <dt class="inline">{{ 'Task end date'|trans }}</dt>
                    <dd>{{ event.task.endDate|format_date('medium') }}</dd>
                {% endif %}
            </dl>
    </div>
    <ul class="record_actions">
      <li>
        <a href="{{ chill_path_add_return_path('chill_task_single_task_show', { 'id' : task.id }, false, 'Back to the timeline'|trans ) }}" class="btn btn-show">
          {{ "View the task"|trans }}
        </a>
      </li>
      <li>
        <a href="{{ chill_path_add_return_path('chill_task_single_task_edit', { 'id' : task.id }, false, 'Back to the timeline'|trans) }}" class="btn btn-update">
          {{ "Edit task"|trans }}
        </a>
      </li>
    </ul>
        
</div>
